parameters:
    basil_local_fixtures_path: '%env(BASIL_LOCAL_FIXTURES_PATH)%'
    basil_local_source_path: '%env(BASIL_LOCAL_SOURCE_PATH)%'
    test_authentication_provider_bundle_frontend_token_provider_users:
        'user@example.com': 'password'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\Tests\Services\TestTestFactory:
        public: true

    App\Tests\Services\TestWorkerEventFactory:
        public: true

    App\Tests\Services\EnvironmentFactory:
        public: true

    app.tests.services.file_store_handler.local_source:
        class: App\Tests\Services\FileStoreHandler
        public: true
        arguments:
            $path: '%kernel.project_dir%/%basil_local_source_path%'

    App\Tests\Services\ClientRequestSender:
        public: true
        arguments:
            $client: '@test.client'

    App\Tests\Services\Asserter\JsonResponseAsserter:
        public: true

    App\Services\SourceFileStore:
        public: true
        arguments:
            $path: '%kernel.project_dir%/%basil_local_source_path%'

    App\Tests\Services\FixtureReader:
        public: true
        arguments:
            $path: '%kernel.project_dir%/%basil_local_fixtures_path%'

    SmartAssert\YamlFile\FileHashes\Serializer: ~

    SmartAssert\YamlFile\Collection\Serializer: ~

    App\Tests\Services\CreateJobSourceFactory:
        public: true

    App\Tests\Services\EntityRemover:
        public: true

    App\Tests\Services\YamlProviderFactory: ~
    SmartAssert\WorkerJobSource\Factory\YamlFileFactory: ~
    SmartAssert\WorkerJobSource\JobSourceSerializer: ~

    Psr\Http\Client\ClientInterface:
        class: GuzzleHttp\Client
        arguments:
            $config:
                handler: '@GuzzleHttp\HandlerStack'
