###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/src/.preload.php
/var/
/vendor/
###< symfony/framework-bundle ###
###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
.vagrant
tests/build/coverage
/.php_cs.cache
/.php-cs-fixer.cache

composer.lock


###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
###< friendsofphp/php-cs-fixer ###
