parameters:
  treatPhpDocTypesAsCertain: false
  level: 9
  paths:
    - src
    - tests
  inferPrivatePropertyTypeFromConstructor: true
  exceptions:
    check:
      tooWideThrowType: true
  ignoreErrors:
    -
      message: '#Property App\\Entity\\WorkerEvent::\$reference type mapping mismatch#'
      path: src/Entity/WorkerEvent.php

    -
      message: '#Property App\\Entity\\WorkerEvent::\$relatedReferences type mapping mismatch#'
      path: src/Entity/WorkerEvent.php

    -
      message: '#Method .+TestRepository::getSingleIntegerResult\(\) has parameter \$query with generic class Doctrine\\ORM\\Query#'
      path: src/Repository/TestRepository.php
