parameters:
  level: 9
  paths:
    - src
    - tests
  inferPrivatePropertyTypeFromConstructor: true
  exceptions:
    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true
  ignoreErrors:
    -
      message: '#Method .+ throws checked exception InvalidArgumentException#'
      path: src

    -
      message: '#Method .+ has Doctrine\\ORM\\ORMException#'
      path: src

    -
      message: '#Method App\\Services\\TestExecutor::execute\(\) has .+Invalid(Document|Step)Exception#'
      path: src/Services/TestExecutor.php

    -
      message: '#Method .+ throws checked exception#'
      path: tests

    -
      message: '#Method .+ throws checked exception BadMethodCallException#'
      path: src
