parameters:
  level: 8
  paths:
    - src
    - tests
  inferPrivatePropertyTypeFromConstructor: true
  excludePaths:
    - tests/Fixtures
  ignoreErrors:
    -
      message: '#App\\Tests\\Mock\\Model\\MockUploadedSourceCollection::getMock\(\)#'
      path: "tests/Mock/Model/MockUploadedSourceCollection.php"
