imports:
    - { resource: services/test_common.yaml }

parameters:
    test_authentication_provider_bundle_frontend_token_provider_users:
        'user@example.com': 'password'
    test_authentication_provider_bundle_users_url: 'http://localhost:9080'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    app.tests.services.guzzle.handler.curl:
        class: GuzzleHttp\Handler\CurlHandler

    GuzzleHttp\HandlerStack:
        factory: [ 'GuzzleHttp\HandlerStack', 'create' ]
        arguments:
            $handler: '@app.tests.services.guzzle.handler.curl'

    SmartAssert\ResultsClient\Client:
        public: true
        arguments:
            $baseUrl: '%env(string:RESULTS_BASE_URL)%'
