name: tests-integration-sync

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  integration:
    name: Integration Synchronous - PHP ${{ matrix.php }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        php: ['8.2']
    runs-on: ${{ matrix.operating-system }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Install dependencies
        run: composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Setup integration test environment
        run: composer integration-setup

      - name: Run tests
        run: composer test-integration
